html, body {
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;

}

body {
    width:100vw;
    background-image: url("bgbig.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:  no-repeat;
}

/* navigation menu*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 65px;
    margin: 0 auto;
    padding: 0px 60px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #dcdbe0e1;

}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: rgb(21, 3, 91);
}

.navlink ul {
    display: flex;
    gap:40px;
    list-style: none;
    margin-right: 150px;
}

.navlink ul li a {
    text-decoration: none;
    color: rgb(21, 3, 91);
    font-size: 15px;
    font-weight: 600;
    transition: color 0.3s ease;
    letter-spacing: 2px;
    
}

.navlink ul li a:hover {
    color: rgb(106, 93, 186);
}

/* hero section*/
section {
    margin: auto;
    width:1000px;
    justify-items: center;
    padding-top: 100px;
}

#introdiv {
    display:flex;
    flex-direction: row;
    background-color: #ffffff7b;
    height: 30px;
    align-items: center;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 15px;
    font-size:13px;
}

#introp1 {
    background-color: rgb(31, 31, 180);
    color:#fff;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
    margin-right:10px;

}

#introp2 {
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    color: rgb(21, 3, 91);
    margin-bottom: 10px;
}

p {
    text-align: center;
}

#buttondiv {
    display:flex;
    flex-direction: row;
}

#buttondiv2 {
    background-color: #fff;
    color: #000;
    border: solid;
    border-color: #4742cd;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    -webkit-text-fill-color: transparent;
    background-image:linear-gradient(90deg,rgba(48, 109, 166, 1) 0%, rgba(143, 75, 166, 1) 100%);
}

button {
    padding:11px 27px 11px 27px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    color:#fff;
    background-color: #4742cd;
    margin: 10px 5px 30px 5px;

}

#dashboard {
    width:700px;
    border-radius: 15px;
}

.menu-icon img{
    
    width: 24px;
    cursor: pointer;
}
.menu-icon {
    display: none;
}



/* mobile style go here*/
@media (max-width: 480px) {
    body {
        height:100%;
      
    }

    .navbar {
        width: 100%;
        padding: 0px 0px;
    }

    .logo{
        padding-left: 25px;
    }

    .menu-icon {
    display: block;
    width: 50px;
    margin-right: 20px;
}
    section {
        width:100%;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    h1 {
        max-width: 480px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }
    button {
        padding: 11px 27px 11px 27px;
        font-size: 12px;
    }
    #dashboard {
        width:95%;
        border-radius: 15px;
    }

    p {
        margin-top: -5px;
        margin-bottom: 0px;
        text-align: center;
        padding: 15px;
    }

    .mobile-hide-break {
        display: none;
    }

    .navlink {
        top: 65px;
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .navlink ul {

    display: flex;
    flex-direction: column;
    gap:40px;
    list-style: none;
    align-items: center;
    margin:0px 0px 0px 0px ;
    padding-left: 0px;
    background-color: #dcdbe0;
    width: 100%;
    padding-bottom: 30px;

    
}

 .navlink ul li a{
     text-align: center;
 }

 .navlink.active {
    display: block;
 }


    
}